{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css"
            href="{% static 'wot.css' %}">

{% endblock %}

{% block content %}
<center>
    <a href="update"><button type="button">Update</button></a>
    <a href="add"><button type="button">Add tank</button></a>
    <div class="examples">
        <div class="example" style="background: #000000;">< 300</div>
        <div class="example" style="background: #CF3230;">< 600</div>
        <div class="example" style="background: #DC7500;">< 900</div>
        <div class="example" style="background: #D8B502;">< 1250</div>
        <div class="example" style="background: #6D9524;">< 1600</div>
        <div class="example" style="background: #4C762E;">< 1900</div>
        <div class="example" style="background: #4A92BA;">< 2350</div>
        <div class="example" style="background: #84579C;">< 2900</div>
    </div>
<!--    {% for key, value in subs.items %}-->
<!--        <a href="#{{key}}"><button class="tablinks">{{key}}</button></a>-->
<!--    {% endfor %}-->
<!--    <div>-->
<!--        <div id="result_wn8">200</div>-->
<!--        <label for="dmg">Damage:</label>-->
<!--        <input type="number" id="dmg"><br>-->
<!--        <label for="frag">Frags:</label>-->
<!--        <input type="number" id="frag"><br>-->
<!--        <label for="wr">Win Rate:</label>-->
<!--        <input type="number" id="wr"><br>-->
<!--        <label for="spot">Spotted tanks:</label>-->
<!--        <input type="number" id="spot"><br>-->
<!--        <label for="def">Cap drop:</label>-->
<!--        <input type="number" id="def"><br>-->
<!--    </div>-->
<!--    <script type="text/javascript" src="{% static 'wn8.js' %}"></script>-->
    {% for key, value in subs.items %}
        <h2 id="{{key}}" >{{key}}</h2>
        <div class="tank_container">
            {% for tank in value %}
                <div class="tank_info">
                    {{tank.tank}} WN8<br>
                    <div class="wn8" style="background: {{tank.wn8color}};">{{tank.wn8}}</div>
                    DMG per game: {{tank.avgDmg}} ({{tank.dif_Dmg}})<br>
                    FRAG per game: {{tank.avgFrag}} ({{tank.dif_Frag}})<br>
                    Winrate: {{tank.avgWinRate}} ({{tank.dif_expWinRate}})<br>
                    Spot: {{tank.avgSpot}} ({{tank.dif_expSpot}})<br>
                    Def: {{tank.avgDef}} ({{tank.dif_expDef}})<br>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</center>

{% endblock %}