.tank_info {
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    background: #212121;
    color: white;
    width: 300px;
}

.tank_container {
  margin-top: 10px;
  grid-gap: 50px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  justify-content: center;
  align-items: center;
}

.wn8 {
    color: white;
}

h2 {
  background-color: gray;
    color: white;
}


