{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'discord.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'playlist_list.css' %}">
{% endblock %}

{% block navbar %}
<!--    <span style="font-size:30px;cursor:pointer" onclick="openPlaylistNav()">&#9776; PLAYLISTS</span>-->
{% endblock %}
{% block beforecontent %}
    <div id="playlistSidebar" class="sideplaylist">
            <li onclick="closePlaylistNav()"><a >Available playlists:</a></li>
            {% for playlist in playlists %}
                    <li>
                        {% if playlist.can_manage %}
                            <a><button class="disabled_button">&#9881;</button></a>
                        {% endif %}
                        <a href="play/{{playlist.name}}"><button class="normal_button">&#9658;</button></a>
                        <a onclick="toggleDisplay('{{playlist.name}}')">{{playlist.name}}</a>
                    </li>
            {% endfor %}
    </div>
{% endblock %}
{% block content %}
    <br>
<!--    <h4 id="playlist_name">Current playlist:</h4>-->
    <div class="music_player">
        <button class="disabled_button">◄◄</button>
        <button class="disabled_button">▐▐</button>
        <a href="skip"><button class="normal_button">►►</button></a>
        <button class="disabled_button">Shuffle</button>
        <a href="stop"><button class="normal_button">Stop</button></a>
        <button class="disabled_button">Add to priority queue</button>
        <button class="disabled_button">Set next song</button>
    </div>


    <h4>Temporary adding menu</h4>
    <form method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value="Save" />
    </form>

    {% for playlist in playlists %}
        <div class="songs_list" id="{{playlist.name}}" style="display: none;">
            <table>
                <tr>
                    <th><b>Songs</b></th>
                </tr>
                {% for song in playlist.songs %}
                <tr>
                    <th>
                        <a href="{{song.url}}">{{song.name}}</a>
<!--                        <a><button class="disabled_button">Delete from playlist</button></a>-->
                    </th>
                </tr>
                {% endfor %}
            </table>

        </div>
    {% endfor %}

    <script>
        function hideAll() {
          var elements = document.getElementsByClassName('songs_list');
          for (var i = 0; i < elements.length; i++) {
              elements.item(i).style.display = 'none';
          }
        }
        function toggleDisplay(id) {
          hideAll();
          var el = document.getElementById(id);
          if (el && el.style) {
            el.style.display = el.style.display != 'none'? 'none' : '';
          }
        }
<!--        function openPlaylistNav() {-->
<!--          document.getElementById("playlistSidebar").style.width = "25%";-->
<!--        }-->

<!--        function closePlaylistNav() {-->
<!--          document.getElementById("playlistSidebar").style.width = "0";-->
<!--        }-->
    </script>
{% endblock %}