table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #99AAB5;
}

.playlist_list, .songs_list {
    padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.songs_list {
  width: 50%;
}

button {
    border: none;
    font-size: 20px;
    padding: 15px;
}

.normal_button {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 12px;
}

.disabled_button {
  background-color: #f44336;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 12px;
  opacity: 0.6;
  cursor: not-allowed;
}

.sideplaylist {
  float: right;
  height: 100%;
  width: 30%;
  background-color: #2F3136;
}

.sideplaylist li {
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.sideplaylist li a {
  padding: 4px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
}

.sideplaylist li:hover {
  background-color: #42464D;
}